version: '3.5'
services:
  server:
    image: ghcr.io/radiicall/r5reloaded-docker:latest
    ports:
      - 37000:37000/udp
    restart: 'unless-stopped'
    #volumes:
    #  - /path/to/custom/cfg/folder:/home/r5reloaded/server/platform/cfg:Z
    #  - /path/to/custom/playlists_r5_patch.txt:/home/r5reloaded/server/platform/playlists_r5_patch.txt:Z
    environment:
      # DONT ADD QUOTES AROUND THE ENVIRONMENT VARIABLES
      # Extra args to set when launching
      # Consider adding -exitOnScriptErrors as a launch option, this should allow the container to automatically restart after a script crash
      - ARGS=+pylon_host_visibility 2 +map mp_rr_arena_composite
      # Server name
      - NAME=1v1 server
      # Playlist to use
      - PLAYLIST=fs_1v1
      # Port to bind to internally. MUST ALSO BE CHANGED UP ABOVE UNDER THE PORTS SECTION
      - PORT=37000
